body.blockly-games-page-active{
  background-color: #fff;
  font-family: sans-serif;
  margin-top: 0;
}
body.blockly-games-page-active h1{
  font-weight: normal;
  font-size: 130%;
}
body.blockly-games-page-active h1 a{
  text-decoration: none;
}
body.blockly-games-page-active a:focus, body.blockly-games-page-active a:hover{
  color: #f00;
}
body.blockly-games-page-active .farSide{
  text-align: right;
}
body.blockly-games-page-active #header_cta>*{
  vertical-align: middle;
}
html[dir="RTL"] body.blockly-games-page-active .farSide{
  text-align: left;
}
body.blockly-games-page-active .level_number{
  border: solid 1px #ddd;
  border-radius: 20px;
  padding: 6px 12px;
  color: #888;
}
body.blockly-games-page-active .level_dot{
  border: solid 1px #ddd;
	border-radius: 50%;
	width: 15px;
	height: 15px;
  display: inline-block;
}
body.blockly-games-page-active .level_done, body.blockly-games-page-active .level_dot:hover, body.blockly-games-page-active .level_number:hover{
  background-color: #ddd;
  color: #000;
}
body.blockly-games-page-active #containerCode{
  direction: ltr;
  background-color: #eee;
  padding: 5px;
  margin: 0 3ex;
  font-size: large;
  overflow: auto;
  max-height: 200px;
}

body.blockly-games-page-active img[src$="help.png"]{
  height: 64px;
  width: 64px;
}

html[dir="RTL"] body.blockly-games-page-active .mirrorImg{
  transform: scaleX(-1);
}

body.blockly-games-page-active #languageMenu{
  margin: 16px 0;
}

body.blockly-games-page-active xml{
  display: none;
}

/* Buttons */
body.blockly-games-page-active button{
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
body.blockly-games-page-active button.primary{
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}
body.blockly-games-page-active button.secondary{
  border: 1px solid #4d90fe;
  background-color: #4d90fe;
  color: #fff;
}
body.blockly-games-page-active button.primary>img, body.blockly-games-page-active button.secondary>img{
  opacity: 1;
}
body.blockly-games-page-active button>img{
  opacity: .6;
  vertical-align: text-bottom;
}
body.blockly-games-page-active button:hover:not(:disabled)>img{
  opacity: 1;
}
body.blockly-games-page-active button:active:not(:disabled){
  border: 1px solid #888 !important;
}
body.blockly-games-page-active button:hover:not(:disabled){
  box-shadow: 2px 2px 5px #888;
}

/* Dialogs */
body.blockly-games-page-active #dialog{
  visibility: hidden;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
}
body.blockly-games-page-active #dialogBorder{
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #888;
}
body.blockly-games-page-active #dialogShadow{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .3
}
body.blockly-games-page-active .dialogAnimate{
  transition-property: width height left top opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}
body.blockly-games-page-active .dialogHiddenContent{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body.blockly-games-page-active #dialogHeader{
  height: 25px;
  margin: -10px -10px 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #ddd;
  cursor: move;
}
body.blockly-games-page-active #dialog button{
  min-width: 4em;
}
body.blockly-games-page-active .readonly .blocklyMainBackground{
  stroke: none;
}
body.blockly-games-page-active #galleryForm>header{
  font-size: larger;
}
body.blockly-games-page-active #galleryForm>*{
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/* Sprited icons. */
body.blockly-games-page-active .icon21{
  height: 21px;
  width: 21px;
  background-image: url(../images/icons.png);
}
body.blockly-games-page-active .link{
  background-position: 0 0;
}
body.blockly-games-page-active .camera{
  background-position: -21px 0;
}
body.blockly-games-page-active .stop{
  background-position: -42px 0;
}
body.blockly-games-page-active .run{
  background-position: -63px 0;
}
body.blockly-games-page-active .gallery{
  background-position: -63px -21px;
}
body.blockly-games-page-active .close{
  background-position: -42px -42px;
}
