.moviments-page {
  min-height: 100vh;
}

.moviments-workspace {
  height: calc(80vh - 114px);
}

.moviments-actions {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-left: 45px;
}

.moviments-action-button {
  width: 150px;
  margin-right: 19px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #45BFFF 27.8%, #00A7FF 98.65%);
  box-shadow: 0px 24px 30px -16px rgba(45, 183, 255, 0.25);
  color: white;
  font-family: 'Poppins';
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.moviments-action-button:hover {
  background-color: #323742;
}
